<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <settings><!--整合的话，不设置settngs也行 -->
        <!-- 打开延迟加载的开关 -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!-- 将积极加载改为消极加载，即延迟加载 -->
        <setting name="aggressiveLazyLoading" value="false"/>
        <!-- 开启二级缓存 -->
        <setting name="cacheEnabled" value="true"/>
    </settings>

    <mappers>
        <package name="main.mapper"/>
    </mappers>

</configuration>
